* {
  margin: 0;
  padding: 0;
}

.centerScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.t-White {
  color: white;
}

/*menu*/

.menuContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
}

.titleContainer {
  background-color: white;
  width: 40vw;
  background-image: linear-gradient(90deg,rgba(52, 16, 212, 0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1566956031644-74266ac466f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.startContainer {
  width: 60vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(1, 1, 75);
}

.text-info {
  width: 60%;
}

.text-info h1 {
  margin-bottom: 20px;
}

.menu-button {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(17, 170, 17);
  color:white;
  font-size: 1.5em;
  appearance: none;
  cursor: pointer;
  border-width: 0;
  border-style: hidden;
  border-image: none;
}

 @media (max-width: 768px) { 
  .titleContainer {
    display: none;
  }

  .startContainer {
    background-color: rgb(10, 28, 110);
    color: rgb(255, 255, 255);
    width: 100%;
  }

  .startContainer p {
    font-size: clamp(1rem, 2.5vw, 2rem); 
  }

}